.Panel__title {
    font-size: 4rem;
}

.Panel__button {
    display: flex;
    justify-content: center;
}

.Panel__button > *:not(:last-child) {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .Panel__title {
       	font-size: 3rem;
    }
}

@media (max-width: 575px) {
    .Panel:not(:first-child) {
       	border-top: 1px solid white;
    }
}