.Chart {
    max-width: 600px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

.Chart__buttons {
    position: absolute;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    padding-left: 32px;
    padding-right: 32px;
}

.Chart__buttons > *:not(:last-child) {
	margin-right: 8px;    
}

.Chart__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 36px;
    padding: 4px 0;
}

.Chart__button > svg {
    width: 20px;
    height: 20px;
}